
h6{
    margin-top: 10px;
    font-weight:bold;
}
.status{
    border: 1px solid #95A5A6 ;
    width : 100%;
    background-color: #273746 ;
    border-radius : 5px;
    box-shadow: 0 8px 6px -6px red;
    margin-top:10px;
    color:white;
    padding:5px;
}
